.item-detail-view {
    display: flex; 
    gap: 30px; 
    padding: 40px; 
    max-width: 1200px;
    margin: 50px auto;
    align-items: flex-start; 
    background-color: #fff; 
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.detail-image-container {
    max-width: 400px; 
    flex-shrink: 0; 
}

.detail-info-container {
    display: flex;
    flex-direction: column; 
    flex-grow: 1;
    margin: 90px 30px;
    padding: 30px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #3A4B5D;
}

.detail-image { 
    width: 100%;
    height: auto;
    display: block; 
}

.btn-finish-buy{
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    text-align: center;
    text-decoration: none ;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}