.checkout-success{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.checkout-container{
    text-align: center;
    margin: 20px;
}