.checkout-form > div {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 25px; 
    width: 100%;
}
.checkout-form > div {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 25px; 
    width: 100%;
}

.checkout-form > div {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 25px; 
    width: 100%;
}


.checkout-form label {
    font-weight: bold;
    margin-bottom: 5px; 
}


.checkout-form input {
    padding: 10px;
    width: 300px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center; 
}


.checkout-form {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    max-width: 500px;
    margin: 40px auto; 
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-confirm{
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #3A4B5D;
    color: #000;
    border: none;
    text-align: center;
    text-decoration: none ;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}